name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test-native:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - uses: ./.github/actions/load-sops-secrets
      with:
        age_key: ${{ secrets.SOPS_AGE_KEY }}

    - uses: cachix/install-nix-action@v27

    - name: Build
      run: nix develop --command cargo build

    - name: Run tests
      run: nix develop --command cargo test

    - name: Run integration tests
      run: nix develop --command bash -c "cd railgun-rs && just integration"
