name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test-native:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - uses: ./.github/actions/load-sops-secrets
      with:
        age_key: ${{ secrets.SOPS_AGE_KEY }}

    - uses: nixbuild/nix-quick-install-action@v30
      with:
        nix_conf: |
          keep-env-derivations = true
          keep-outputs = true

    - uses: nix-community/cache-nix-action@v7
      with:
        primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
        restore-prefixes-first-match: nix-${{ runner.os }}-
        purge: true
        purge-prefixes: nix-${{ runner.os }}-
        purge-primary-key: never

    - uses: Swatinem/rust-cache@v2

    - name: Build
      run: nix develop --command cargo build

    - name: Run tests
      run: nix develop --command cargo test

    - name: Run integration tests
      run: nix develop --command bash -c "cd railgun-rs && just integration"
